name: Receive New Image Tag & Trigger Kubernetes

on:
  workflow_dispatch:
    inputs:
      imageTag:
        description: "Nuovo tag dell'immagine WordPress"
        required: true
        type: string

jobs:
  trigger-k8s:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Kubernetes update
        run: |
          IMAGE="ghcr.io/istat/wp-schema-deploy:${{ github.event.inputs.imageTag }}"

          echo "Updating Kubernetes with image: $IMAGE"

          # sulla repo teamdigitale/dati-semantic-kubernetes
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            https://api.github.com/repos/teamdigitale/dati-semantic-kubernetes/actions/workflows/update-config.yaml/dispatches \
            -d "{\"ref\":\"main\", \"inputs\": {\"serviceName\": \"dati-semantic-wordpress\", \"imageWithNewTag\": \"$IMAGE\"}}"
